@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

body {
  margin: 0;
  padding-left: 20%;
  background: url("https://bn02pap001files.storage.live.com/y4mNlSn7GFtCWskmuADm8yYrJIR4PEgpEuGaS7tblMZqvRCKWbpBq1mDmZOkli9uE_xkJ0BRAJ1y1PT0oDdIsQsXkEKUEuCVbv_4ilv3wHDf4LWFH8s_rxrt-NcTXkKY_lsEPEtNhUS-lzkKn_uIyIwSJgf6VAhK07aOXoEP8rZ0VU5IRMSCggSP1pMbGOpyDdo?width=3378&height=2687&cropmode=none") no-repeat center fixed;
  background-size: cover;
  text-align: left;
  overflow: hidden;
}

.fullscreen{
  min-height: 110vh;
  display: grid;
  align-items: center;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  height: 3em;
  color: #111111;
}


p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 2em;
  color: #111111;
}

a {
  color: #283470;
}

a:hover {
  color: #15A29C;
  text-decoration: none !important;
}

.col-xs-7 {
  width: 70%;
}
.col-xs-7 > a {
  margin: 0 20px;
}

/* CSS */
#refresh {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#refresh:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#refresh:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

